@use './variables' as *;

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

// Hero font- H1-Header-mobile and H1-Hero-Header-tablet
@mixin font24-60 {
  color: $global-light;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  @include tablet {
    font-size: 60px;
    line-height: 68px;
  }
}

// H1-header-mobile and H1-header-tablet
@mixin font24-36 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  @include tablet {
    font-size: 36px;
    line-height: 44px;
  }
}

// H2-subheader-mobile and H2-Header-tablet
@mixin font14-24 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  @include tablet {
    color: $global;
    font-size: 24px;
    line-height: 32px;
  }
}

// H4-Para-mobile and H3-Subheader-tablet
@mixin subheader {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

// H4-para-mobile and H4-Para-tablet
@mixin para_comments {
  font-size: 13px;
  line-height: 18px;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

// H4-list&contact-mobile and H4-list&contact-tablet
@mixin lists_contact {
  font-size: 13px;
  line-height: 18px;
  @include tablet {
    font-size: 14px;
    line-height: 20px;
  }
}

// H5-labels-mobile and H5-labels-tablet
@mixin labels {
  font-size: 12px;
  line-height: 20px;
}
