@use './variables' as *;

@mixin global {

    html {
        box-sizing: border-box;
        font-family: $fontstack;
        color: $black;
    }
    
    *, *:before, *:after {
        box-sizing: inherit; 
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

// @mixin block {
//     display: block;
//     @content;
// }

@mixin calcrem($size) {

}

// @mixin mobile {
//     @media only screen and (max-width: 320px) {
//         @content;
//     }
// }

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin font60-tabletonly {
    color: $white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    @include tablet {
        font-size: 60px;
        line-height: 68px;
    }
    // @include desktop {
    //     font-size: 60px;
    //     line-height: 68px;
    // }
}

@mixin font36-tabletonly {
    color: $black;
    @include tablet {
        font-size: 36px;
        line-height: 44px;
    }
    // @include desktop {
    //     font-size: 36px;
    //     line-height: 44px;
    // }
}

@mixin font24 {
    color: $black;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    @include tablet {
        color: $black;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }
}

@mixin subheader {
    color: $black;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    @include tablet {
        font-size: 16px;
        line-height: 24px;
    }
    // @include desktop {
    //     font-size: 16px;
    //     line-height: 24px;
    // }
}

@mixin para_comments {
        font-size: 13px;
        line-height: 18px;
        @include tablet {
            font-size: 14px;
            line-height: 22px;
        }
}

@mixin lists_contact {
    font-size: 13px;
    line-height: 18px;
    @include tablet {
        font-size: 14px;
        line-height: 20px;
    }
}

@mixin labels {
    font-size: 12px;
    line-height: 20px;
    @include tablet {
        font-size: 12px;
        line-height: 20px;
    }
}




