$global: #323232; //black or graphite
$primary-accent: #afafaf; //silver
$secondary-accent: #e1e1e1; //mercury
$primary-light: #fafafa; //alabaster
$global-light: #fff; //white
$accent-hover: #0065ad;

// fonts
$fontstack: "AvenirNext LT Pro", Roboto;
