/* Ran main.css through W3C CSS Validator results for TextArea are as follows:
 Congratulations! No Error Found. */

/* Some of the measurements and dimensions are not exactly as provided in the styleguides. I tried to match the UI to the mockups in terms of the design so I did not follow the measurements to the t.*/

// Importing variables and partials

@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;

@include global;

.header {
  background-color: $global;
  height: 8rem;
  padding: 1.5rem 0 0 0;
  @include tablet {
    padding: 0;
  }

  &__nav {
    width: 100%;
    @include tablet {
      padding: 0 2.4rem;
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 0;
    }
    @include desktop {
      padding: 0 10rem;
      max-width: 130rem;
      margin: auto;
    }
  }

  &__nav-link {
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 1.6rem;
    @include tablet {
      margin: 0;
      margin-right: auto;
      flex-grow: 1;
    }
    @include desktop {
      width: 12rem;
      height: 2.4rem;
    }
  }

  &__nav-logo {
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 100%;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      margin-right: 2.8rem;
    }
  }

  &__navlist {
    list-style: none;
    display: flex;
    font-size: 1.3rem;
    color: $primary-accent;
    line-height: 1.8rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    @include tablet {
      height: 100%;
      align-items: center;
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 600;
      width: 40%;
      flex-grow: 19;
    }
  }

  &__navlistitem--current {
    border-bottom: 4px solid $primary-light;
    color: $primary-light;
  }

  &__navlistitem {
    width: 50%;
    text-align: center;
    padding-bottom: 0.8rem;
    @include subheader;
    font-weight: 600;
    @include tablet {
      width: 8rem;
      padding-bottom: 2.2rem;
      padding-top: 3.2rem;
      margin-top: 0rem;
      vertical-align: middle;
      margin: 0 0 0 4.2rem;
      display: inline;
    }
    @include desktop {
      margin: 0 0 0 5.8rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $global-light;
    padding: 2.5rem 0rem;
  }

  &__navlistitem:hover {
    @extend .header__navlistitem--current;
    background-color: $accent-hover-transparent;
    transition: all 1s linear;
  }
}

.hero {
  background-image: url("../assets/Images/hero-justice3.jpg");
  width: 100%;
  height: 58vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    height: 50vw;
  }
  @include desktop {
    height: 53vw;
  }

  &__headerblock {
    @include desktop {
      width: 130rem;
      margin: 0 auto;
    }
  }

  &__heading {
    margin: 0;
    @include font24-60;
    @extend %wrapper;
  }

  &__headingspan:before {
    content: "\A";
    white-space: pre;
  }

  &__overlay {
    background: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
  }
}

.about {
  @extend %wrapper;

  &__heading {
    margin: 2.4rem 0 1.8rem 0;
    text-transform: capitalize;
    @include font24-36;
    @include tablet {
      padding: 4rem 0 3.2rem 0;
      margin: 0;
    }
    @include desktop {
      padding: 4.8rem 0 4.8rem 0;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 2rem;
    height: 44vw;
    @include tablet {
      height: 47vw;
      object-fit: cover;
      display: block;
      margin: auto;
      margin-bottom: 4.8rem;
    }
    @include desktop {
      width: 70vw;
      height: 35vw;
    }
  }

  &__quote {
    margin: 0;
    padding: 0;
    @include desktop {
      width: 87.6rem;
      margin: auto;
    }
  }

  &__quote-block {
    quotes: initial;
    margin: 0 0 2.8rem 0;
    padding: 0;
    @include font14-24;
    @include custom-mobilefont;
    @include tablet {
      font-weight: 700;
    }
  }

  &__quote-block::before {
    content: open-quote;
  }

  &__inline-quote {
    quotes: "'" "'";
  }

  &__quote-block::after {
    content: close-quote;
  }

  &__quote-author {
    margin-bottom: 3.2rem;
    line-height: 2.2rem;
    font-weight: 600;
    @include subheader;
    font-size: 1.4rem;
  }

  &__article {
    @include desktop {
      width: 87.6rem;
      margin: auto;
    }
  }

  &__article-title {
    margin-bottom: 1.8rem;
    @include font14-24;
    @include custom-mobilefont;
    @include tablet {
      font-weight: 700;
    }
  }

  &__article-text {
    margin-bottom: 4rem;
    @include para_comments;
    letter-spacing: 0.001rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
    @include tablet {
      column-count: 2;
      column-gap: 2.4rem;
    }
    @include desktop {
      column-gap: 4rem;
    }
  }

  &__article-textspan {
    @extend %linebreak;
  }
}

.gallery {
  // I wasn't sure what background color was really applied to this section because in the mockup the background color looks like a shade between #e1e1e1 and #fafafa. Since on my monitors it looks closer to #fafafa i used that.

  background-color: $primary-light;
  width: 100%;
  padding-bottom: 3rem;
  @include desktop {
    padding-bottom: 4rem;
  }

  &__heading {
    @include font24-36;
    padding: 2.4rem 1.6rem 1.8rem 1.6rem;
    text-transform: capitalize;
    margin: 0;
    @include tablet {
      padding: 4.4rem 2.4rem 5.4rem 2.4rem;
      max-width: 76.8rem;
      margin: auto;
    }
    @include desktop {
      padding: 4.8rem 10rem 6.4rem 10rem;
      max-width: 130rem;
      margin: auto;
    }
  }

  &__block {
    @extend %wrapper;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    @include tablet {
      justify-content: space-between;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 1.6rem;
    flex-shrink: 1;
    flex-grow: 0;
    filter: grayscale(100%);
    @include tablet {
      width: calc(100% / 3 - 12px);
      height: 100%;
      margin: 1.2rem 0;
    }
  }

  &__image:hover {
    filter: grayscale(0);
    transition: all 1s linear;
  }
}

.comment {
  @extend %wrapper;

  &__heading {
    @include font24-36;
    padding: 3.2rem 0 4rem 0;
    text-transform: capitalize;
    margin: 0;
    @include tablet {
      padding: 4.4rem 0 5.4rem 0;
      margin: 0;
    }
    @include desktop {
      padding: 4.8rem 0 6.4rem 0;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $secondary-accent;
    @include tablet {
      width: 52.8rem;
      margin: auto;
    }
  }

  &__imageblock {
    padding-top: 2.8rem;
    margin-right: 2rem;
  }

  &__img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    object-position: center;
    object-fit: fill;
  }

  &__form > * {
    display: block;
  }

  &__nameinput {
    height: 4.8rem;
    width: 22.4rem;
    border: 0.1rem solid $secondary-accent;
    border-radius: 4px;
    margin-bottom: 2.4rem;
    font-family: $fontstack;
    color: $global;
    @include para_comments;
    padding: 1.6rem;
    @include tablet {
      width: 46rem;
    }
  }

  &__nameinput:focus {
    border: 2px solid $global;
    outline: none;
  }

  &__nameinput:active {
    border: 2px solid $global;
    outline: none;
  }

  &__commenttextinput {
    @extend .comment__nameinput;
    height: 9.6rem;
    resize: none;
    font-family: $fontstack;
    color: $global;
    @include para_comments;
    padding: 1.6rem;
    @include tablet {
      width: 46rem;
    }
  }

  &__namelabel {
    text-transform: uppercase;
    font-weight: 600;
    color: $primary-accent;
    @include labels;
    margin-bottom: 0.8rem;
  }

  &__commenttextlabel {
    @extend .comment__namelabel;
  }

  &__btn {
    @extend %showsbutton;
  }
}

.publ {
  @include tablet {
    width: 52.8rem;
    margin: auto;
  }

  &__comment {
    @extend .comment__block;
    margin: 2.4rem 0;
    padding-bottom: 2.4rem;
    @include tablet {
      justify-content: left;
    }
  }

  &__imageblock {
    @extend .comment__imageblock;
    padding-top: 0;
  }

  &__img {
    @extend .comment__img;
    background-color: $primary-accent;
    border-radius: 50%;
  }

  &__detail {
    margin: 2.4rem 0;
  }

  &__nametime {
    display: flex;
    justify-content: space-between;
    @include tablet {
      justify-content: unset;
    }
  }

  &__name {
    @include para_comments;
    margin: 0;
    padding-bottom: 1.6rem;
    font-weight: 600;
    @include tablet {
      margin-right: 1.2rem;
    }
  }

  &__date {
    @include para_comments;
  }

  &__text {
    @include para_comments;
    margin: 0;
  }
}

.footer {
  background-color: $global;
  padding: 0 1rem 3.2rem 1rem;
  color: $global-light;
  @include tablet {
    padding: 0 2.4rem 3.2rem 2.4rem;
  }
  @include desktop {
    padding: 0 10rem 4.8rem 10rem;
  }

  &__wrapper {
    @extend %wrapper;
  }

  &__contact {
    @include tablet {
      display: flex;
      align-items: first baseline;
      padding-top: 3.6rem;
    }
    @include desktop {
      padding-top: 4.8rem;
    }
  }

  &__contact-heading {
    line-height: 3.2rem;
    @include font24-36;
    padding-top: 5.2rem;
    padding-bottom: 2.8rem;
    margin: 0;
    color: $global-light;
    font-size: 3.6rem;
    @include tablet {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__contact-icons {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 40%;
    @include tablet {
      height: 2.8rem;
      align-items: end;
      margin: 0rem 4.8rem;
      width: auto;
    }
  }

  &__contact-social {
    display: inline-block;
    padding: 0rem 0.6rem;
    @include tablet {
      padding: 0rem 1.2rem;
    }
    @include desktop {
      padding: 0rem calc(3.2rem / 2);
    }
  }

  &__logo {
    display: none;
    @include tablet {
      display: block;
      height: 2.4rem;
      width: 12rem;
      margin-left: auto;
    }
  }

  &__logo-image {
    display: none;
    @include tablet {
      display: inline-block;
      margin-left: auto;
    }
    @include desktop {
      height: 100%;
      width: 12rem;
    }
  }

  &contact__cards {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      justify-content: normal;
    }
  }

  &contact__info {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 2.2rem;
    margin: 3.2rem 0 2.4rem 0;
    @include desktop {
      margin-right: 5.6rem;
    }
  }

  &contact__info-company {
    margin: 0;
    font-weight: 600;
    @include subheader;
  }

  &contact__info-name {
    @extend .footercontact__info-company;
  }

  &contact__info-region {
    @include lists_contact;
    font-size: 1.2rem;
    margin: 1.8rem 0;
    font-style: normal;
  }

  &contact__info-email {
    @extend .footercontact__info-region;
  }

  // DIVING DEEP- mailto
  &contact__info-mailto {
    text-decoration: none;
    color: $secondary-accent;
    &:hover {
      text-decoration: underline;
      color: $accent-hover;
    }
  }

  &__copyright {
    font-size: 1.3rem;
    line-height: 1.8rem;
    @include lists_contact;
    &span {
      @extend %linebreak;
    }
  }
}
