@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro", Roboto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  color: #323232;
}

.header {
  background-color: #323232;
  height: 80px;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 24px;
  }
}
.header__nav {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
.header .logo {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .header .logo {
    padding: 0;
  }
}
.header__navlist {
  list-style: none;
  display: flex;
  font-size: 13px;
  color: #afafaf;
  line-height: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .header__navlist {
    height: 100%;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    width: 40%;
  }
}
.header__navlistitem {
  width: 50%;
  text-align: center;
  padding-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .header__navlistitem {
    width: 80px;
    padding-bottom: 20px;
    padding-top: 32px;
    margin-top: 0px;
    vertical-align: middle;
    margin: 0 40px;
    display: inline;
  }
}
.header .current {
  border-bottom: 4px solid #fafafa;
  color: #fafafa;
}
.hero {
  background-image: url("../assets/Images/hero-justice3.jpg");
  width: 100%;
  height: 183px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__heading {
  margin: 0;
  padding: 0 16px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .hero__heading {
    font-size: 60px;
    line-height: 68px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__heading {
    font-size: 60px;
    line-height: 68px;
  }
}
.hero .overlay {
  background: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
}

.about {
  padding: 0 16px;
}
.about .section__heading {
  margin: 32px 0 24px 0;
}
.about__image {
  width: 100%;
  margin-bottom: 24px;
}
.about__quote {
  margin: 0;
  padding: 0;
}
.about__quote-block {
  quotes: initial;
  margin: 0 0 32px 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
.about__quote-block::before {
  content: open-quote;
}
.about__inline-quote {
  quotes: "'" "'";
}
.about__quote-block::after {
  content: close-quote;
}
.about__quote-author {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.about__article-title {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
.about__article-text {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 40px;
}

.gallery {
  background-color: #fafafa;
  width: 100%;
  padding: 0 16px;
}
.gallery .section__heading {
  font-size: 24px;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 24px;
  margin: 0;
}
.gallery__image {
  width: 100%;
  margin-bottom: 16px;
}

.footer {
  background-color: #323232;
  padding: 0 10px 32px 10px;
  color: #fff;
}
.footer .section__heading {
  font-size: 24px;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 24px;
  margin: 0;
  color: #fff;
}
.footer .icons {
  padding: 0;
}
.footer .icons__social {
  display: inline-block;
  padding: 0px 6px;
}
.footer .contact__info {
  font-size: 13px;
  line-height: 18px;
  margin: 32px 0;
}
.footer .contact__info-company, .footer .contact__info-name {
  margin: 0;
  font-weight: 600;
}
.footer .copyright {
  font-size: 13px;
  line-height: 18px;
}/*# sourceMappingURL=main.css.map */