// Importing variables and partials

@use './partials/variables' as *;
@use './partials/mixins' as *;

//Including fonts per style guide

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('/sprint-one/assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('/sprint-one/assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('/sprint-one/assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('/sprint-one/assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('/sprint-one/assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('/sprint-one/assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// font-family: 'Roboto'




html {
    box-sizing: border-box;
    margin: 0;
    font-family: 'AvenirNext LT Pro', Roboto;

}

*, *:before, *:after {
    box-sizing: inherit; 
}

// test code:
h2 {
    color: $silver;
}

